.piedepagina {
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
  }
  
  /* ESTILO ICONOS */
  
  .iconoFacebook {
    color: #3b5998;
    font-size: large;
  }
  
  .iconoInstagram {
    font-size: large;
    color: #c13584;
  }
  
  .iconoYoutube {
    font-size: large;
    color: #bb0000;
  }
  