.titulo {
    color: black(13, 14, 13);
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(226, 221, 214);
  }
  
  .subtitulo {
    color: rgb(136, 84, 182);
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  /* parrafos */
  
  .parrafo {
    color: rgb(168, 61, 61);
    text-align: start;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 2px;
    font-weight: bold;
  }
  