.titulo {
    color: black(13, 14, 13);
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(226, 221, 214);
  }
  
  .subtitulo {
    color: rgb(36, 27, 44);
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  /* parrafos */
  
  .parrafo {
    color: rgb(8, 8, 8);
    text-align: start;
    font-size: 23px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 2px;
  }
  